.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    background-color: rgb(65, 64, 64);
    box-shadow: -1px -8px 10px -4px rgb(143, 108, 175);
    -webkit-box-shadow: -1px -8px 20px -4px rgb(73, 72, 74);
    -moz-box-shadow: -1px -8px 10px -4px rgb(162, 117, 204);
    border-radius: 5px;
    height: 180px;
}
.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.percentage{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 80px;
    height: 80px;
}
.count{
    font-size: 25px;
    font-weight: 200px;
}
.link{
    width: max-content;
    border-bottom: 0.5px solid rgb(66, 53, 138);
}